#title {
    background-color: rgb(245,220,254);
    color: rgb(102, 8, 116);
    text-align: center;
    font-size: 30pt;
}

#pageone {
  background-image: url('images/pig.png');
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

h1 {
  font-size: 45pt;
  text-align: center;
  color: rgb(102, 8, 116);
}
