#title {
    background-color: rgb(245,220,254);
    color: rgb(102, 8, 116);
    text-align: center;
    font-size: 30pt;
}

a {
  text-decoration: none;
}

#pageone {
  background-image: url('images/pig.png');
  background-position: bottom;
  background-size: 30%;
  background-repeat: no-repeat;
}

#pagetwo {
  background-image: url('images/pig_trrr.png');
  background-position: bottom;
  background-size: 30%;
  background-repeat: no-repeat;
}

h1 {
  font-size: 60pt;
  text-align: center;
  color: rgb(102, 8, 116);
  height: 140pt;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 45pt;
  text-align: center;
  color: rgb(102, 8, 116);
  height: 60pt;
}

h4 {
  font-size: 25pt;
}

team_table {
  font-size: 30pt;
}
